<% include partial/header %>


<div class="container">
    <h2>Rubber Expansion Joint - <B>Material Management</B></h2>
    <a href="../company/all"><button type="button" class="btn btn-warning">Add a New Sale Order</button></a>
            &nbsp;&nbsp;
            <a href="../srrstock/addstock"><button type="button" class="btn btn-warning">Add New Stock</button></a>&nbsp;&nbsp;&nbsp;
            <a href="../company/new"><button type="button" class="btn btn-warning">Add New Company</button></a>
        
        <hr noshade>
   
           <div class="container-fluid">
            <% data.forEach(function(el, index) {%>
            <div class="row" style="background-color: floralwhite; font-size: 16px" align=left>
                <div class="col-sm-12" style="padding:10px;" value="" >
                    <span>
                        <i class="far fa-plus-square" style="color:orange; font-size: 28px"></i> &nbsp;  Order Number  <%= el.ordernumber %> from <%= el.company %>, received on <%= el.orderdate %>.
                        
                    </span>
                </div>
                
                

            </div>
            <% }) %>
            <br><br>
            <% info.forEach(function(el, index) {%>
                <div class="row" style="background-color: floralwhite; font-size: 16px" align=left>
                    <div class="col-sm-12">
                        <span><br>
                            <i class="fas fa-plus" style="color:orange; font-size: 28px"></i> &nbsp; <%= el.itemName %> <%= el.size %>  <%= el.drilling %> - <%= el.quantity %> units were added to stock.
                        </span>
                    </div>
                    
                    
                </div>
                <% }) %>
           </div>
        </div>

        <% include partial/footer %>