<% include ../partial/header %>

<div class="container-fluid" style="background-color:floralwhite; ">
  <h2>
    Pending Sale Orders
  </h2>

  <form method="post" action="/orders/findpendingorders">

    <div class="row" style="background-color:#EAF2F8; font-size:20px; padding:10px;">
      <div class="col-sm-2" value="" align=center>
        <span>
          <input type="text" class="form-control form-control-sm" id="onum" name="onum" placeholder="Search by Order No"></span>
      </div>
      <div class="col-sm-2" value="" align=center>
        <span>
          <a href="#" data-toggle="tooltip" title="Search by Order Date"><input type="date" value="Order Date" class="form-control form-control-sm"
              id="odate" placeholder="Order Date" name="odate"></a></span>
      </div>
      <div class="col-sm-2" value="" align=center>
        <span>
          <input type="text" class="form-control form-control-sm" id="customer" name="customer" placeholder="Search by Customer"></span>
      </div>
      <div class="col-sm-2" value="" align=center>
        <span>
          <select class="form-control form-control-sm" name="status" id="status">
            <option value="" disabled selected>Search by Status</option>
            <option id="" value="LIVE">LIVE</option>
            <option id="" value="Payment Against PI">Payment against PI</option>
            <option id="" value="Payment on Credit">Payment on Credit</option>
            <option id="" value="Manufacturing Clearance">Manufacturing Clearance</option>
          </select> </span>
      </div>
      <div class="col-sm-2" value="" align=center>
        <span>
          <a href="#" data-toggle="tooltip" title="Search by Delivery Date"><input type="date" class="form-control form-control-sm"
              id="odate" name="ddate"></a></span>
      </div>
      <div class="col-sm-2" value="" align=center>
        <span>
          <button type="submit" class="btn btn-primary">Find</button>
        </span>
      </div>
    </div>

  </form>

  <div class="row" style="background-color:#F5B041; font-size:18px; padding:5px;">
    <div class="col-sm-2" value="" align=center>
      <span>Order Number
      </span>
    </div>
    <div class="col-sm-2" value="" align=center>
      <span>Order Date
      </span>
    </div>
    <div class="col-sm-3" value="" align=center>
      <span>Customer Name
      </span>
    </div>
    <div class="col-sm-3" value="" align=center>
      <span>Status
      </span>
    </div>
    <div class="col-sm-2" value="" align=center>
      <span>Delivery Date
      </span>
    </div>
  </div>

  <% data.forEach(function(el, index) {%>
  <div class="row" style="background-color:#FDFEFE; border-bottom: 1px solid orange; padding:7px; font-size: 16px">
    <div class="col-sm-2" style="padding:10px;" value="" align=center>
      <span>
        <%= el.ordernumber %>
      </span>
    </div>
    <div class="col-sm-2" style="padding:10px;" value="" align=center>
      <span>
        <%= el.orderdate %>
      </span>
    </div>
    <div class="col-sm-3" style="padding:10px;" value="" align=center>
      <span>
        <%= el.company %></span>
    </div>
    <div class="col-sm-3" style="padding:10px;" value="" align=center>
      <span>
        <%= el.status %>
      </span>
    </div>
    <div class="col-sm-2" style="padding:10px;" value="" align=center>
      <span>
        <%= el.deliverydate %>
      </span>
    </div>

  </div>
  <% }) %>

  <p></p>
</div>


<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<% include ../partial/footer %>