<% include ../partial/header %>

<div class="container-fluid" style="background-color:floralwhite;">
    <h2>
        Update Bill of Quantity :-
        <%= data.itemname %>
        <%= data.itemsize %>
        <%= data.itemprating %>
        <%= data.itemdrilling %>
    </h2>
    <form method="POST" action="/srrstock/updated/<%= data._id %>">

        <div class="row" style="background-color:#F5B041; font-size: 18px; padding:5px">
            <div class="col-sm-3" value="" align=center>
                <span>Item
                </span>
            </div>
            <div class="col-sm-3" value="" align=center>
                <span>Size
                </span>
            </div>
            <div class="col-sm-3" value="" align=center>
                <span>Drilling
                </span>
            </div>
            <div class="col-sm-3" value="" align=center>
                <span>
                </span>
            </div>

        </div>

        <div class="row" style="background-color:whitesmoke; padding:10px;">
            <div class="col-sm-3" value="" align=center>
                <span>
                    <select class="form-control" name="arch" id="arch" value="<%= data.itemname %>" required>
                        <option value="<%= data.itemname %>">
                            <%= data.itemname %>
                        </option>

                        <option value="REJ Single Arch">REJ Single Arch</option>
                        <option value="REJ Double Arch">REJ Double Arch</option>
                        <option value="REJ Hand Wrap">REJ Hand Wrap</option>
                    </select>
                </span>
            </div>
            <div class="col-sm-3" value="" align=center>
                <span>
                    <select class="form-control" name="size" id="size" value="<%= data.itemsize %>" required>
                        <option value="<%= data.itemsize %>">
                            <%= data.itemsize %>
                        </option>

                        <option value="25">25</option>
                        <option value="32">32</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                        <option value="65">65</option>
                        <option value="80">80</option>
                        <option value="100">100</option>
                        <option value="125">125</option>
                        <option value="150">150</option>
                        <option value="200">200</option>
                        <option value="250">250</option>
                        <option value="300">300</option>
                        <option value="350">350</option>
                        <option value="400">400</option>
                        <option value="450">450</option>
                        <option value="500">500</option>
                        <option value="550">550</option>
                        <option value="600">600</option>
                        <option value="700">700</option>
                        <option value="750">750</option>
                    </select></span>
            </div>
            <div class="col-sm-3" value="" align=center>
                <span>
                    <select class="form-control" name="drilling" id="drilling" value="<%= data.itemdrilling %>"
                        required>
                        <option value="<%= data.itemdrilling %>">
                            <%= data.itemdrilling %>
                        </option>

                        <option value="Table D">Table D</option>
                        <option value="ANSI">ANSI</option>
                        <option value="Table E">Table E</option>
                        <option value="BS 4504">BS 4504</option>
                        <option value="OT">Other</option>
                    </select></span>
            </div>
            <div class="col-sm-3" value="" align=center>
                <span>
                    <select class="form-control form-control-sm" name="prating" id="prating" value="<%= data.itemprating %>"
                        required>
                        <option value="<%= data.itemprating %>">
                            <%= data.itemprating %>
                        </option>

                        <option value="PN 10">PN 10</option>
                        <option value="PN 16">PN 16</option>
                        <option value="PN 20">PN 20</option>
                    </select>
                </span>
            </div>

        </div>

        <div class="row" style="background-color:whitesmoke; padding:10px;">
            <div class="col-sm-3" value="" align=center>
                <span>
                    <input type="text" class="form-control" name="" id="" value="SRR" readonly>
                </span>
            </div>
            <div class="col-sm-3" value="" align=center>
                <span>
                    <input type="text" class="form-control" name="srrsize" id="srrsize" value="" readonly>
                </span>
            </div>
            <div class="col-sm-3" value="" align=center>
                <span>
                    <input type="text" class="form-control" name="srrdrilling" id="srrdrilling" value="" readonly>
                </span>
            </div>
            <div class="col-sm-3" value="" align=center>
                <span>
                    <input type="number" class="form-control" name="srrqty" id="srrqty" value="<%= data.srrquantity %>"
                        placeholder="Add SRR Quantity">
                </span>
            </div>
        </div>

        <div class="row" style="background-color:whitesmoke; padding:10px;">
            <div class="col-sm-3" value="" align=center>
                <span>
                    <input type="text" class="form-control" name="" id="" value="Control Unit" readonly>
                </span>
            </div>
            <div class="col-sm-3" value="" align=center>
                <span>
                    <input type="text" class="form-control" name="cusize" id="cusize" value="" readonly>
                </span>
            </div>
            <div class="col-sm-3" value="" align=center>
                <span>
                    <input type="text" class="form-control" name="cudrilling" id="cudrilling" value="" readonly>
                </span>
            </div>
            <div class="col-sm-3" value="" align=center>
                <span>
                    <input type="number" class="form-control" name="cuqty" id="cuqty" value="<%= data.cuquantity %>"
                        placeholder="Add Control Unit Quantity">
                </span>
            </div>
        </div>

        <div class="row" style="background-color:whitesmoke; padding:10px;">
            <div class="col-sm-3" value="" align=center>
                <span>
                    <input type="text" class="form-control" name="" id="" value="Tie Rod" readonly>
                </span>
            </div>
            <div class="col-sm-6" value="" align=center>
                <span>
                    <select class="form-control" name="rodsize" id="rodsize" value="<%= data.trsize %>" required>
                        <option value="<%= data.trsize %>">
                            <%= data.trsize %>
                        </option>
                        <option value=" M16 X 14">M16 X 14"</option>
                        <option value="M16 X 17">M16 X 17"</option>
                        <option value="3/4 X 17">3/4" X 17"</option>
                        <option value="M16 X 22">M16 X 22"</option>
                        <option value="M24 X 17">M24 X 17"</option>
                    </select>
                </span>
            </div>

            <div class="col-sm-3" value="" align=center>
                <span>
                    <input type="number" class="form-control" name="trqty" id="trqty" value="<%= data.trquantity %>"
                        placeholder="Add Tie Rod Quantity">
                </span>
            </div>
        </div>

        <p>
            <center>
                <button type="submit" class="btn btn-info">Update BOQ</button>&nbsp;&nbsp;&nbsp;
                <input type="reset" value="Cancel" class="btn btn-warning">

            </center>
        </p>




    </form>
</div>

<% include ../partial/footer %>