<% include ../partial/header %>

<div class="container-fluid" style="background-color:floralwhite; ">
  <h2>Sale Order</h2>
  <form method="POST">
    <p>
      <div class="row" style="background-color:whitesmoke; font-size: 18px; padding:10px">

        <div class="col-sm-12">
          <span><input type="text" class="form-control  form-control-sm" value="Customer :
            <%= companydata.companyname %>,  <%= companydata.state %>, <%= companydata.city %>, <%= companydata.address1 %>"
              readonly> </span>
          <input type="hidden" id="orderid" name="orderid" value="<%= ordermasterdata.id %>" >
        </div>

      </div>

      <div class="row" style="background-color:whitesmoke; font-size: 18px; padding:10px">

        <div class="col-sm-12">

          <div class="form-group row">
            <div class="col-xs-3">
              <label for="ex1"></label>
              <input class="form-control  form-control-sm" id="ex1" type="text" value="Order Number: <%= ordermasterdata.ordernumber %>"
                readonly>
            </div>
            <div class="col-xs-3">
              <label for="ex1"></label>
              <input class="form-control form-control-sm" id="ex1" type="text" value="Order Date: <%= ordermasterdata.orderdate %>"
                readonly>
            </div>
            <div class="col-xs-3">
              <label for="ex1"></label>
              <input class="form-control form-control-sm" id="ex1" type="text" value="Delivery Date: <%= ordermasterdata.deliverydate %>"
                readonly>
            </div>
            <div class="col-xs-3">
              <label for="ex2"></label>
              <input class="form-control form-control-sm" id="ex2" type="text" value="Status:  <%= ordermasterdata.status %>"
                readonly>
            </div>
          </div> </span>
          <input type="hidden" id="orderid" name="orderid" value=<%=ordermasterdata.id %> >
        </div>

      </div>
      
      <p>
        <center><button type="submit" class="btn btn-info" formaction="/orders/orderdetails/<%= ordermasterdata.id %>">Add
            New</button>&nbsp;&nbsp;&nbsp;
            <input type="reset" value="Cancel" class="btn btn-warning"> </p>
  
      </center>
    </p>

    <div class="row" style="background-color: #F5B041; font-size: 16px" align=left>
      <div class="col-sm-2" style="padding:10px;" align=center>
        <span>Arch
        </span>
      </div>
      <div class="col-sm-2" style="padding:10px;" align=center>
        <span>Size
        </span>
      </div>
      <div class="col-sm-2" style="padding:10px;" align=center>
        <span>Drilling
        </span>
      </div>
      <div class="col-sm-2" style="padding:10px;" align=center>
        <span>Pressure Rating
        </span>
      </div>
      <div class="col-sm-2" style="padding:10px;" align=center>
        <span>Quantity
        </span>
      </div>
      <div class="col-sm-2" style="padding:10px;" align=center>
        <span>Dispatch Quantity
        </span>
      </div>
    </div>

    <% if(orderdetaildata) { %>
    <% orderdetaildata.forEach(function(el, index) {%>
      <div class="row" style="background-color: #FDFEFE; font-size: 16px" align=left>
        <div class="col-sm-2" style="padding:10px;" align=center>
          <span>
            <%= el.orderarch %>
          </span>
        </div>
        <div class="col-sm-2" style="padding:10px;" align=center>
          <span>
            <%= el.ordersize %>
          </span>
        </div>
        <div class="col-sm-2" style="padding:10px;" align=center>
          <span>
            <%= el.orderdrilling %>
          </span>
        </div>
        <div class="col-sm-2" style="padding:10px;" align=center>
          <span>
            <%= el.orderprating %>
          </span>
        </div>
        <div class="col-sm-2" style="padding:10px;" align=center>
          <span>
            <%= el.orderquantity %>
          </span>
        </div>
        <div class="col-sm-2" style="padding:10px;" align=center>
          <span>
          <input type = "number" name="dispatchqty" id="dispatchqty" class="form-control form-control-sm" placeholder="Add Dispatch Quantity">  
          </span>
        </div>
      </div>
      <% }) %>
      <% } %>
      <p>
        <center><button type="submit" class="btn btn-success" formaction="/orders/neworder/<%= ordermasterdata.id %>">Submit</button>
        </center>
      </p>
  </form>

</div>
</div>
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<% include ../partial/footer %>